$blue: rgb(124, 192, 203);
$icon: $blue;

.audio_interno {
  position: relative;
  width: 100%;
  margin: 32px 0px 20px 0px;
  transition: all .3s;
  border: 5px solid gray;
  background-color: #fff;
  border-radius: 4px;
  min-height: 104px;
  padding: 16px 20px;
  box-sizing: border-box;

  .audio__text {
    margin-bottom: 16px;
  }

  .audio-box audio {
    background-color: #f1f3f4;
    width: 100%;
  }

  .audio-box iframe {
    width: 100% !important;
    height: auto !important;
  }



  .none {
    display: none !important;
  }


  &__url {
    border: 1px solid #ccc;
    padding: 2px;
    overflow: hidden;
    height: 19px;
    word-break: break-all;
  }

  &__title {
    color: #666;
    font-size: 16px;
    font-weight: 700;
    font-family: $fontPrincipal;
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  &__text {
    color: #666;
    font-size: 14px;
    font-family: $fontPrincipal;
    font-weight: 300;
    margin-bottom: 16px;
  }

  .placeholder-box{
    display: none;
  } 

}