.body-book {
  background-image: url('https://livro-digital.p4ed.com/assets/icons/manual-do-professor/background_mp.svg');
  background-size: auto;

  &.edit-mode {
    [doc-container] {
      padding-bottom: 24px !important;
      border-bottom: 3px solid #cecece !important;
    }

    [doc-container]:empty {
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }

    [doc-editable] .empty-editable {
      background-color: orange;
      min-width: 5px;
      min-height: 3px;
    }
  }
}