#viewer-book-html.body-book.manual_do_professor {
  background-image: url('https://livro-digital.p4ed.com/assets/icons/manual-do-professor/background_mp.svg');
<<<<<<< HEAD
  background-size: 100%;
=======
  background-size: 100% !important;
>>>>>>> bf8bbac79b9c9b606f7ec409f41cb20e094103c8

  &.edit-mode {
    [doc-container] {
      padding-bottom: 24px !important;
      border-bottom: 3px solid #cecece !important;
    }

    [doc-container]:empty {
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }

    [doc-editable] .empty-editable {
      background-color: orange;
      min-width: 5px;
      min-height: 3px;
    }
  }
}