.css_01_titulo_cap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;

  background: linear-gradient(90deg, #3B3B98 32.42%, #0652DD 100%);

  .css_01titulo_cap_1,
  .css_01titulo_cap_2 {
    padding-left: 52px;
  }

  .css_01titulo_cap_1 {
    margin-bottom: 11px;

    font-family: $fontTitle;
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
    color: #FFFFFF;
  }

  .css_01titulo_cap_2 {
    font-family: $fontTitle;
    font-size: 24px;
    font-weight: 600;
    line-height: 37px;
    color: #FFFFFF;
  }
}