.css_02_2texto_bullet_itens {
  font-size: 18px;
  margin-top: 16px !important;
  position: relative;
  list-style: none;

  font-family: $fontPrincipal;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;

  &::after {
    content: "";
    background-color: #000;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: -24px;
  }

  &:first-child {
    margin: 0 !important;
  }
}