.css_05_infografico {
  margin-top: 16px;
  padding-bottom: 6px;
  border-bottom: 1px solid $cor_2;

  .title_css_05_infografico {
    font-family: $fontTitle;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: $cor_2;
  }
}