.css_06_boxe_03 {
  margin-top: 16px;
  min-width: 10px;
  width: fit-content;
  padding: 4px;
  height: 38px;
  background: linear-gradient(90deg, #3B3B98 32.42%, #0652DD 100%);

  .text_css_06_boxe_03 {
    color: #fff;
    font-family: $fontTitle;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }
}