.css_02_texto_bullet {
  font-family: $fontPrincipal;
  padding-left: 4px;
  margin-top: 16px;

  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;


  &:first-child {
    margin: 0 !important;
  }
}