.css_05_mapa_titulo {
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  .header_css_05_mapa_titulo {
    padding: 8px;
    background: $cor_2;

    .title_header_css_05_mapa_titulo {
      text-align: center;
      font-family: $fontTitle;
      color: #FFF;
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
    }
  }

  .main_css_05_mapa_titulo {
    padding: 0 5.8125rem;
    border: 1px solid $cor_2;
    border-width: 0px 1px 1px;

    & :first-child {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  @media only screen and (max-width: $phone-max-width) {
    .main_css_05_mapa_titulo {
      padding: 0;
    }
  }
}