/* Video component style */
.doc-section [doc-editable]:empty {
    background: transparent !important;
  }
  
  .none {
    display: none !important;
  }
  
  .content-video__text {
    margin: 0 16px 16px 16px;
    color: #666;
    font-size: 14px;
    font-family: $fontPrincipal;
    font-weight: 300;
  }
  
  /* Image component style */
  .video_externo {
    position: relative;
    width: auto;
    margin: 32px 0px 20px 0px;
    display: block;
    background-color: #fff;
    transition: all .3s;
    border: 5px solid gray;
    border-radius: 4px;
    cursor: pointer;
  
    .video_popup__content {
      .video__embed {
        width: 100%;
  
        video {
          width: 100%;
          min-height: 400px;
          padding: 0;
          margin: 0;
          margin-bottom: 32px;
        }
  
        iframe {
          width: 100%;
          min-height: 400px;
          padding: 0;
          margin: 0;
          margin-bottom: 32px;
        }
      }
    }
  
   
  
    
  
    &.__ready {
  
      .video_externo {
  
        &__title {
          border: 0;
          margin-left: 16px;
        }
  
        &__text {
          border: 0;
          margin-left: 16px;
        }

      }
    }
  
    &.popup_actived {
      position: fixed;
      margin: 0;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #000000bf;
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      border: 0;
      z-index: 9;
  
      &:before {
        content: none;
      }
  
      .video_popup__content {
        width: 60%;
        margin: 0 auto;
        height: 100%;
        padding: 5%;
        box-sizing: border-box;
  
  
  
        a {
          display: block;
        }
  
        .video_popup__img,
        .content-video {
          display: none !important;
        }
  
        #playerYoutube {
          &.show {
            display: block !important;
          }
        }
  
        #playerDefault {
          &.show {
            display: block !important;
          }
        }
      }
    }
  
    .video_popup__content {
      a {
        width: 25px;
        height: 25px;
        display: none;
        background-image: url('img/btn-modal-close.png');
        position: absolute;
        z-index: 9;
        right: 20px;
        top: 15px;
      }
  
      .video_popup__img {
        position: relative;
        height: 280px !important;
        padding: 0 !important;
        background-size: cover;
      }
  
      
  
      #playerDefault,
      #playerYoutube {
        display: none;
      }
  
      #playerDefault {
        width: 100%;
      }
    }
    .content-video {
      padding: 20px;

      &__title {
        color: black;
        padding: 16px;
        font-size: 18px;
        font-weight: 700;
        font-family: $fontPrincipal;
        text-transform: uppercase;
      
        margin-bottom: 10px;
      }

      &__text {
      
        color: #666;
        font-size: 14px;
        font-family: $fontPrincipal;
        font-weight: 300;

        span {
          color: #666 !important;
        }
      }
    }
  }

  