<div class="CSSgal">
    <s id="s1_A7"></s>
    <s id="s2_A7"></s>
    <s id="s3_A7"></s>
    <s id="s4_A7"></s>
    <s id="s5_A7"></s>
    <s id="s6_A7"></s>
    <s id="s7_A7"></s>
    <div class="carroussel-box flex-direction-collumn" doc-container="main"
        data-doc-label="{{ COMPONENT_CONTAINER_LABEL }}">
    </div>
    <div class="prevNext">
        <div><a href="#s7_A7"></a><a href="#s2_A7"></a></div>
        <div><a href="#s1_A7"></a><a href="#s3_A7"></a></div>
        <div><a href="#s2_A7"></a><a href="#s4_A7"></a></div>
        <div><a href="#s3_A7"></a><a href="#s5_A7"></a></div>
        <div><a href="#s4_A7"></a><a href="#s6_A7"></a></div>
        <div><a href="#s5_A7"></a><a href="#s7_A7"></a></div>
        <div><a href="#s6_A7"></a><a href="#s1_A7"></a></div>
    </div>
</div>