<figure class="video_interno">
  <div class="video_popup__content">
    <a href="#"></a>
    <div class="video__embed">
      <video data-doc-label="{{ COMPONENT_EMBED_LABEL }}" class="embed" doc-html="html" width="100%" controls>

      </video>
      <!--        <div doc-html="html"></div> -->
    </div>
  </div>
  <div class="content-video">
    <h1 class="content-video__title ancora_video" id doc-editable="video_title">{{TITLE}}</h1>
    <p class="content-video__text" doc-editable="video_content">{{SUBTITLE}}</p>
  </div>
</figure>